<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1 class="animate__animated animate__fadeIn">Hello, <%= user ? user.profile.name : "stranger" %></h1>

<% car.forEach(car => { %> 
  <div class="container">
    <p> Hey, I'm <%= car.driver.name %> and I drive a <%= car.year %> <%= car.brand %> <%= car.model %>. The color is <%=car.color%>. It's a <%= car.feedback %> and right now it's <%= car.forSale ? 'For Sale.' : 'Not for Sale.' %> </li>
    </p>
    <a class="google" href="/cars/<%= car._id %>">
      <button id="logout" type="submit">View Details</button>
    </a>
        
  </div>
<% }) %>


</main>

<%- include('./partials/footer') %>
