<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1 class="animate__animated animate__fadeIn">Hello, <%= user ? user.profile.name : "stranger" %></h1>


  <div class="container">
    <p href="">
        Hey, I'm Mike and I drive a Black Mercedes Benz CLS 63 AMG. It is 13 years old and it's a Great car. My Dream car is Mercedes Benz AMG GTs.<br>
        My car is Not For Sale.
    </p>
  </div>

<div class="container">
    <ul>
        <li>Hey, I'm <%= user.profile.name %> and I drive a ...</li>
    </ul>
</div>


</main>

<%- include('./partials/footer') %>
