<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1 class="animate__animated animate__fadeIn">Hello, <%= user ? user.profile.name : "stranger" %></h1>


  <div class="container">
    <p></p>
  </div>

<div class="container">
  <div>Make: </div>
  <div><%= car.brand %></div>
  <div>Model: </div>
  <div><%= car.model %></div>
  <div>Year: </div>
  <div><%= car.year %></div>
  <div>Color: </div>
  <div><%= car.year %></div>
  <div>For Sale: </div>
  <div> <%= car.forSale ? "For Sale" : "Not For Sale"%></div>
</div>


</main>

<%- include('./partials/footer') %>