<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1 class="animate__animated animate__fadeIn">Hello, <%= user ? user.profile.name : "stranger" %></h1>


<div class="container">
  <div>Make: </div>
  <div><%= cars.brand %></div>
  <div>Model: </div>
  <div><%= cars.model %></div>
  <div>Year: </div>
  <div><%= cars.year %></div>
  <div>Color: </div>
  <div><%= cars.year %></div>
  <div>For Sale: </div>
  <div> <%= cars.forSale ? "For Sale" : "Not For Sale"%></div>
</div>


</main>

<%- include('../partials/footer') %>