<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/cars/show.css"/>
<%- include('../partials/nav') %>

<main>
  <h1 class="animate__animated animate__fadeIn">Hello, <%= user ? user.profile.name : "stranger" %></h1>
  <h2 class="animate__animated animate__fadeIn">Like my car? Leave a comment about it😉</h2>


<div class="container">
  <div>I drive a <%= car.year %>, <%= car.color %> <%= car.brand %> <%= car.model %>. <br> It's a <%= car.feedback %> and right not it's <%= car.forSale ? "for sale" : "not for sale"%>. <br> My dream car is - <%= car.dream %>
    <br>
    <br>
    <div class="driver-feedback"> Few words from <%= car.driver.name %> about this car:
      <p><%= car.driverNote %></p>
    </div>
  <div class="comments"> Comments <br>
    <!-- <form> -->
    <ul>
      <% car.rating.forEach(newComment => { %>
        <li><%= newComment.commentBy %> says:
          <br> <%= newComment.comment %>
        </li>
        <% if(user) {%> 
      <% if(newComment.commentById == user.profile._id) {%> 
        <form action="/cars/<%= car._id %>/rating/<%=newComment._id%>?_method=DELETE" method="POST">
          <button id="delete-add-comment" type="submit">Delete your comment</button>
        </form>
        <% } %> 
        <% } %> 
      <% }) %> 
    </ul>
  <!-- </form> -->
    0 people like this car
  </div>
  <br>
  <% if(user) { %>
  <form id="add-comment"
  action="/cars/<%= car._id %>/rating"
  method="POST">
    <label for="user-comments">Write your comment here:</label>
    <br>
    <textarea name="comment" id="user-comments"></textarea>
    <br>
    <button class="add-comment" type="submit">Comment</button>
  
  </form>
  <% } %>
</div>

<% if(user) {%> 
  <% if (car.driver.equals(user.profile._id)) { %> 
    <form class="google" action="/cars/<%= car._id %>?_method=DELETE" method="POST">
        <button  id="logout" type="submit">Delete</button>
    </form>
  <a class="google" href="/cars/<%= car._id %>/edit">
    <button id="logout" type="submit">Edit</button>
  </a>
  <% } else { %> 

  <% }} %> 
</div>


</main>

<%- include('../partials/footer') %>